<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <!-- iconFont -->
    <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/font_629296_8ljx0wdcimdvx6r.css">
    <title>
        <%= context.title %>
    </title>
    <style>
        .title {
            display: none;
        }
    </style>

</head>

<body>

    <div id="root"></div>
    <div class="title">
        Mandarin Debate
    </div>

</body>

</html>